:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    /* Neutral */
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    padding: 1rem;
    line-height: 1.5;
    font-family: sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ol,
ul {
    list-style: none;
}

button {
    border: none;
}

.site-header {
    padding-bottom: 1.5rem;
}

.site-header__inner {
    display: flex;
    justify-content: space-between;
}

.site__logo {
    width: 40px;
}

.primary-nav {
    display: none;
}

/* .primary-nav ul {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
} */

.primary-nav ul li a {
    font-size: 1.2em;
    font-weight: 500;
}

.mobile-navigation {
    display: none;
    position: absolute;
    background-color: white;
    padding: 2rem;
    width: 65%;
    height: 100vh;
    top: 0;
    right: 0;
}

.menu-close {
    position: absolute;
    top: 2rem;
    right: 0;
    margin-right: 1rem;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }

    .primary-nav {
        display: block;
    }

    .desktop-navigation ul {
        display: flex;
        gap: 2rem;
        font-size: 0.9rem;
    }
}

/* Hero */
.hero__content {
    margin: 1.5rem 0;
    display: grid;
    grid-template-columns: 1fr;
}

.hero__excerpt p {
    padding: 1rem 0;
}

.hero__cta {
    background-color: var(--soft-red);
    padding: 0.5rem 1rem;
    font-weight: 500;
    transition: background-color 0.2s ease;
}

.hero__cta:hover {
    background-color: hsl(5, 73%, 52%);
}

@media (min-width: 768px) {
    .hero__content {
        grid-template-columns: 1fr 1fr;
    }

    .hero {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 1.5rem;
    }
}

/* Highlights */
.new-highlights {
    margin: 4rem 0;
    background-color: var(--very-dark-blue);
    padding: 0.5rem 1rem;
}

#new-heading {
    color: var(--soft-orange);
}

.new-highlights__list {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.new-item__title {
    color: white;
}

.new-item__excerpt {
    color: var(--grayish-blue);
}

@media (min-width: 768px) {
    .new-highlights {
        margin: 0;
    }
}

/* top-stories */
.top-stories {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.top-stories__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.top-story {
    display: flex;
}

.top-story__index {
    color: var(--soft-red);
    font-weight: 700;
    font-size: 1.5rem;
}

.top-story__excerpt {
    color: var(--dark-grayish-blue);
}

.top-story__figure img {
    max-width: 90%;
}

/* Footer */

.site-footer {
    margin-top: 2rem;
    text-align: center;
}
